* {
    box-sizing: border-box;
}

body {
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0;
    font-family: "Sofia", sans-serif;
    font-size: 2em;
    color: white;
}